
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>안녕하십니까. 마을5입니다.</h1>
    <p>이 웹페이지는 많은 사람들과 소통하기 위해서 만들어 졌습니다.
    <ul>
    <li><a href="#">Git과 GitHub를 사용하여 소통하기</a>, </li>
    <li>앞으로 조금씩 진행되는 일들</li>
    <li>e-mail : kidipark@gmail.com</li>
    </ul>
    상식이 통하는 사회, 서로 도우는 사회.</p>

    <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<!-- Example row of columns -->
<!--
<div class="row">
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen1.jpg"  alt="screen1"></a>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#/project_a">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen2.jpg"  alt="screen2"></a>
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#/project_a">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen3.jpg"  alt="screen3"></a>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#/contact">View details &raquo;</a></p>
    </div>
</div>
-->
